/* Copyright © 2016 Fateh Khalsa */
/* Main Stylesheet */

body {
	background: #363636;
}

a {
	color: #cccccc;
	transition: color 0.4s ease-in-out;
}

a:hover { color: #b8b8b8; }

/* Topbar */
#topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.4);
	color: #ffffff;
	z-index: 10;
}

#topbar.two-line-title {
	padding: 0.6rem 1rem;
}

#topbar .title {
	display: inline-block;
	cursor: pointer;
}

#topbar.two-line-title .title .title-name,
#topbar.two-line-title .title .title-description {
	display: block;
}

#topbar .title .title-description {
	padding-left: 0.6rem;
	font-size: 0.9rem;
	color: #a0a0a0;
}

#topbar.two-line-title .title .title-description {
	padding-top: 0.08rem;
	padding-left: 0;
}

#topbar .navbar {
	display: none;
}

@media screen and (min-width: 35.5em) {
	#topbar .navbar {
		display: block;
		margin-top: 0.5rem;
		padding: 0;
		font-size: 0.85rem;
	}
	#topbar .navbar li:first-of-type { padding-left: 0; }
}

@media screen and (min-width: 48em) {
	#topbar .navbar {
		float: right;
		margin-top: 0;
		font-size: 0.95rem;
	}
	#topbar .navbar li:first-of-type { padding-left: 0.5rem; }
}

@media screen and (min-width: 64em) { #topbar .navbar { font-size: 1rem; } }

#topbar.two-line-title .navbar {
	padding-top: 0.5rem;
}

/* Navbar */
.navbar {
	margin: 0;
	list-style: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navbar li {
	display: inline-block;
	padding: 0 0.5rem;
	color: #c7c7c7;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.navbar li:hover { color: #a0a0a0; }
.navbar li.selected { color: #a0a0a0; }
.navbar li.selected:hover { color: #8d8d8d; }

/* Pages */
.page {
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	/*transition: background 0.1s ease-in-out;*/	/* Animates background scroll-fade transitions */
}

.page > img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -10;
	opacity: 0;
	transition: opacity 2s ease-in-out 0.85s;
}

.page.current-page > img { opacity: 1; }

.page .content {
	margin: 0;
	padding: 6rem 2.5rem 2rem;
	line-height: 22px;
	color: #ffffff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	z-index: 1;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

@media screen and (min-width: 48em) {
	.page .content {
		position: absolute;
		top: 48%;
		left: 50%;
		width: 95%;
		max-height: 75%;
		padding: 0 0 2rem 0;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
}

@media screen and (min-width: 64em) { .page .content { width: 70%; } }
@media screen and (min-width: 80em) { .page .content { width: 60%; } }

.page.visible .content {
	opacity: 1;
}

/* Other Elements */
#next-page-button {
	position: fixed;
	bottom: 0;
	left: 50%;
	color: #ffffff;
	font-size: 25px;
	opacity: 0.25;
	z-index: 10;
	cursor: pointer;
	-webkit-transform:  translateX(-50%) scale(5.0, 1.0);
	        transform:  translateX(-50%) scale(5.0, 1.0);
	transition: opacity 0.45s ease-in-out;
}

@media screen and (min-width: 35.5em) { #next-page-button { font-size: 35px; } }
@media screen and (min-width: 48em) { #next-page-button { font-size: 40px; } }
@media screen and (min-width: 64em) { #next-page-button { font-size: 45px; } }
@media screen and (min-width: 80em) { #next-page-button { font-size: 50px; } }

#next-page-button:hover { opacity: 0.75; }
#next-page-button.disabled { opacity: 0; pointer-events: none; }

/* Other Classes */
.thumbnail {
	display: inline;
	width: 100%;
	height: auto;
    padding: 3px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

@media screen and (min-width: 35.5em) { .thumbnail { max-width: 90%; margin-right: 10%; } }

/* JS Media Query Helper Triggers */
.media-query-trigger { display: none; float: left; }
@media screen and (min-width: 35.5em) { .media-query-trigger-sm { float: none; } }
@media screen and (min-width: 48em) { .media-query-trigger-md { float: none; } }
@media screen and (min-width: 64em) { .media-query-trigger-lg { float: none; } }
@media screen and (min-width: 80em) { .media-query-trigger-xl { float: none; } }

/* Media Query Markers - enable for development */
.mq-marker {
	/*display: none !important;	/* comment out this line to enable */
	position: fixed;
	top: 2rem;
	right: 2rem;
	display: none;
	padding: 1rem 0.6rem;
	font-size: 2rem;
	background: rgba(255, 255, 255, 0.6);
	border: 2px solid black;
	border-radius: 5px;
	color: black;
}
@media screen and (max-width: 35.49em) { .mq-marker { display: none; } .mq-marker-default { display: block; background: rgba(30, 144, 255, 0.6); } }
@media screen and (min-width: 35.5em) { .mq-marker { display: none; } .mq-marker-sm { display: block; background: rgba(0, 128, 0, 0.6); } }
@media screen and (min-width: 48em) { .mq-marker { display: none; } .mq-marker-md { display: block; background: rgba(255, 165, 0, 0.6); } }
@media screen and (min-width: 64em) { .mq-marker { display: none; } .mq-marker-lg { display: block; background: rgba(255, 255, 0, 0.6); } }
@media screen and (min-width: 80em) { .mq-marker { display: none; } .mq-marker-xl { display: block; background: rgba(255, 255, 255, 0.6); } }